mixin preview-medium(like, comment, download, rating, date, img, title)

  div.preview-medium
    div.preview-medium__info
      div.preview-medium__item
        i.preview-medium__ico.preview-medium__ico_like
        span.preview-medium__text()= like
      div.preview-medium__item
        i.preview-medium__ico.preview-medium__ico_comment
        span.preview-medium__text()= comment
      div.preview-medium__item
        i.preview-medium__ico.preview-medium__ico_download
        span.preview-medium__text()= download
      div.preview-medium__item
        span.preview-medium__caption Rating
        span.preview-medium-rating
          span.preview-medium-rating__value(style=rating)
      div.preview-medium__item
        i.preview-medium__caption Release date
        span.preview-medium__date()= date
    div.preview-medium__button
    div.preview-medium__img
      img(src=img)
      div.preview-medium__title()= title